<div class="row">
  <div class="col-xs-12">
    <form [formGroup] = "bookForm" (ngSubmit) = "onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name: </label>
            <input 
            id="name" 
            type="text"
            formControlName="name"
            class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL: </label>
              <input 
              id="imagePath" 
              type="text"
              formControlName="imagePath"
              class="form-control"
              #imagePath>
            </div>
          </div>
          <div class="col-xs-4">
            <img [src] = "imagePath.value" class="img-responsive">
          </div>
        </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description: </label>
              <textarea 
              id="description" 
              type="text"
              formControlName="description"
              class="form-control"></textarea>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="price">Price: </label>
              <input 
              id="price" 
              type="number"
              formControlName="price"
              class="form-control"/>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="submit">Save</button> | 
              <button class="btn btn-success" type="button">Cancel</button>
            </div>
          </div>
    </form>
  </div>
</div>