<div class="col-xs-10 col-md-8 col-sm-6">
    <a
    style="cursor: pointer;"
      class="list-group-item clearfix">
      <div class="pull-left">
          <img 
          src="{{ cartItem.item.image }}" 
          alt="{{ cartItem.item.name }}" 
          class="img-responsive" 
          style="max-height: 50px;">
      </div>
      <h4 class="list-group-item-heading"> {{ cartItem.item.name }}</h4>
      <span class="pull-right">
          <p class="list-group-item-text">${{ cartItem.item.price }}</p>
      </span>
    </a>
</div>
   
