<a 
  style="cursor: pointer;"
  class="list-group-item clearfix"
  (click) = "onSelect()"
  >
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ book.name }}</h4>
          <p class="list-group-item-text">${{ book.price }}</p>
          <div *ngIf = "selected">
            <!-- <p class="list-group-item-text"> {{ book.description }}</p> -->
            <button type="button" class="btn btn-success" (click) = "toDetails()">Details</button>
          </div>
    </div>
    <span class="pull-right">
      <img [src] = "book.image" alt="{{ book.name }}" class="img-responsive" style="max-height: 50px;">
    </span>
  </a>


